$white: #FFFFFF;
$secondary-light: #F6F6F6;
$secondary-middle: #D8D8D8;
$secondary-dark: #5F5F5F;
$primary-light: #323232;
$primary-dark: #292929;
$black: #000000;

:export {
    white: $white;
    secondary-light: $secondary-light;
    secondary-middle: $secondary-middle;
    secondary-dark: $secondary-dark;
    primary-light: $primary-light;
    primary-dark: $primary-dark;
    black: $black;
}